In [4]:
import pandas as pd
from utils.helpers import create_example_dataframe
from utils.rules import RULES

In [2]:
df = create_example_dataframe(10)
df

      name          location         dob
0   Joanna         Perezfort  1975-10-19
1    Cindy  New Vincentburgh  1986-10-03
2    Shari   Port Deannaside  1986-09-05
3   Angela    Richardchester  1986-09-10
4  Anthony       Moralestown  2004-04-06
5    Billy   Port Aprilmouth  1961-01-23
6    Jared  West Kathleenton  1961-07-27
7    Kathy      Mitchellport  1982-11-15
8  Michael   North Saraburgh  1975-01-02
9    Carol        Heatherton  1964-12-18

In [5]:
# print each entry in the RULES dictionary for 'mammal'
for key, value in RULES.items():
    print(f'{key}: {value["mammals"]}')

legs: 4
wings: 0
fins: 0
hair: 1